<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Community Forum
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list>
        <ion-list-header>
            <ion-grid class="list-filter">
                <ion-row>
                    <ion-col *ngFor="let element of communityDataType">
                        <ion-checkbox [(ngModel)]="element.selected" [checked]="element.selected" (ionChange)="checkBoxChanged($event)"> </ion-checkbox>
                        <ion-label>{{element.type}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list-header>
        <div *ngIf="nlpQualifiedList && nlpQualifiedList.length>0">
            <ion-card *ngFor="let data of nlpQualifiedList">
                <img *ngIf="data.imageUrl && data.communityDataType ==='Missing'" src="{{data.imageUrl}}" />
                <span *ngIf="data.communityDataType ==='Missing'" class="missing-banner">MISSING</span>
                <span *ngIf="data.communityDataType !=='Missing'" class="missing-banner">{{data.reportedDataTone}}</span>
                <!--<span *ngIf="data.communityDataType ==='General'" class="help-icon"><ion-icon name="heart-half"></ion-icon></span>-->
                <ion-card-header>
                    <ion-card-subtitle [attr.color]="data.communityDataType ==='Missing' ? 'danger': 'primary'">
                        <span *ngIf="data.communityDataType ==='Missing'">{{data.communityDataType}}, Last known location - 
                        <span *ngIf="data.address">{{data.address}}</span>
                        <span *ngIf="!data.address">Unknown</span>
                        </span>
                        <span *ngIf="data.communityDataType !=='Missing' && data.address">Near 
                        <span *ngIf="data.address">{{data.address}}</span>
                        <span *ngIf="!data.address">{{deviceLocationCoord.lattitude}},{{deviceLocationCoord.longitude}}</span>
                        </span>

                    </ion-card-subtitle>
                    <ion-card-title>
                        <span *ngIf="data.communityDataType ==='Missing'">{{data.userName}} <span *ngIf="data.age">({{data.age}})</span></span>
                        <span *ngIf="data.communityDataType ==='General'">{{data.communityDataType}}</span>
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>{{data.reportDataString}}</p>
                </ion-card-content>
            </ion-card>
        </div>
        <div *ngIf="!nlpQualifiedList || nlpQualifiedList.length ===0">
            <ion-card class="no-data-found">
                <ion-card-content>
                    <ion-icon name="hand"></ion-icon>
                    <p>No data found</p>
                </ion-card-content>
            </ion-card>
        </div>
    </ion-list>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-item>
            <ion-textarea [(ngModel)]="dataToAdd.address" placeholder="Enter message here..."></ion-textarea>
            <ion-icon *ngIf="dataToAdd.address.length > 0" name="arrow-round-up" (click)="addToList()" class="send-message-button"></ion-icon>
        </ion-item>
    </ion-toolbar>
</ion-footer>