.news-card {
    text-align: left;
    padding-left: 15px;
}

ion-slides {
    height: 50%;
}

.source {
    color: #8e8e93;
    text-align: right;
    font-size: 12px;
    margin-right: 5px;
}

.event-description {
    text-align: center;
    font-size: 20px;
}

.section-header {
    margin-top: 18px;
    font-size: 16px;
}

ion-card-content {
    .headlines-text {
        font-size: 15px;
        text-align: justify;
        margin-bottom: 10px;
    }
    .card-footer {
        font-size: 10px;
        float: right;
        margin-top: 15px;
        color: rgb(115, 115, 115);
    }
    .news-text {
        margin-bottom: 15px;
        margin-top: 5px;
        font-size: 12px;
        text-align: justify;
        color: rgb(115, 115, 115);
    }
}

.disaster-action-items {
    font-size: 30px;
    text-align: center;
}

.camera-icon {
    position: absolute;
    right: 20px;
    font-size: 30px;
    top: 13px;
}

.expand-collapse-icon {
    position: absolute;
    right: 15px;
    top: 40px;
    font-size: 25px;
    color: #222222;
}

.flood-prediction-percentage {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 30px;
}

ion-card {
    // margin-left: 0;
    // margin-right: 0;
    // margin-top: 0;
    color: white !important;
}

ion-card.weather {
    background: url('../../assets/images/weather.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

ion-card.weather ion-card-title,
ion-card.weather ion-card-subtitle {
    color: white !important;
}

// ion-card.headlines,
// ion-card.news {
//     margin-left: 0;
//     margin-right: 0;
//     margin-top: 0;
//     background-color: #a2a4ab;
// }
.loader-image {
    position: absolute;
    top: 15px;
    right: 15px;
}

ion-card-title.temperature {
    font-size: 25px;
}

ion-grid.weather-data-details {
    >ion-row {
        >ion-col {
            >div {
                &:last-child {
                    font-size: 18px;
                }
            }
        }
    }
}

.tone-banner {
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 11px;
    border-bottom-left-radius: 20px;
}