<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let news of weatherNews">
        <ion-card-header (click)="openNewsDetail(news)">
            <ion-item>
                <ion-card-title>{{news.eventDescription}}</ion-card-title><br>
                <ion-icon name="arrow-down" slot="start" *ngIf="news.isOpen===1"></ion-icon>
                <ion-icon name="arrow-forward" slot="start" *ngIf="news.isOpen===0"></ion-icon>
                <p *ngIf="news.tone">{{news.tone}}</p>
            </ion-item>
        </ion-card-header>
        <ion-card-content *ngIf="news.isOpen===1">
            <p class="news-text">{{news.detail.description}}</p>
            <p class="card-footer">Source - {{news.detail.source}}</p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-item>
                <ion-card-title>Flood Prediction</ion-card-title><br>

            </ion-item>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>


    <ion-card *ngIf="cycloneAlertPer===0">
        <ion-card-header>
            <ion-item>
                <ion-card-title>Cyclone Prediction</ion-card-title><br> false
            </ion-item>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
</ion-content>