<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h2 class="section-header">Headlines near you</h2>
    <ion-card *ngFor="let news of weatherNews">
        <ion-card-header>
            <ion-card-title>{{news.severity}} {{news.eventDescription}}</ion-card-title>
            <ion-card-subtitle>{{news.messageType}} - {{getMomentValue(news.issueTimeLocal)}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p class="headlines-text">{{news.areaName}}, {{news.adminDistrict}} : {{news.headlineText}}</p>
            <div *ngIf="news.responseTypes && news.responseTypes.length > 0">
                <ion-badge color="light" *ngFor="let response of news.responseTypes">#{{response.responseType}}&nbsp;
                </ion-badge>
            </div>
            <div *ngIf="news.detail && news.detail.texts && news.detail.texts.length > 0">
                <p class="news-text" *ngFor="let newsText of news.detail.texts">{{newsText.description}}</p>
            </div>
            <p class="card-footer">Source - {{news.source}}</p>
        </ion-card-content>
    </ion-card>
</ion-content>