// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.user-icon {
    width: 30%;
    height: 30%;
    margin-left: 35%;
}

.application-left-menu-header {
    ion-card-title {
        text-align: center;
    }
    ion-col {
        text-align: center;
    }
}