 #windy {
     width: 100%;
     height: 80%;
     /deep/#logo,
     /deep/#open-in-app,
     /deep/ #mobile-ovr-select {
         display: none !important;
     }
     /deep/ section {
         display: none !important;
     }
 }
 
 ion-list.autocomplete-result {
     z-index: 999;
     position: absolute;
     width: 100%;
 }