<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Weather
        </ion-title>
    </ion-toolbar>
</ion-header>
<i class="wi wi-day-sunny"></i>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button>
            <ion-icon name="logo-buffer"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button (click)="setOverlayMap('wind')">
                <ion-icon name="reorder"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="setOverlayMap('temp')">
                <ion-icon name="thermometer"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="setOverlayMap('clouds')">
                <ion-icon name="cloud"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="setOverlayMap('rain')">
                <ion-icon name="cloudy-night"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-searchbar [(ngModel)]="autocomplete" (ionInput)="updateSearchResults($event)" placeholder="Search for a place">
    </ion-searchbar>
    <ion-list class="autocomplete-result" [hidden]="autocompleteItems.length == 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
            {{ item.desc }}
        </ion-item>
    </ion-list>
    <div id="windycontainer"></div>
</ion-content>